#menupanel {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    opacity: 0;
    justify-content: flex-start;
    background: #98989830;
    padding: 5px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    width: fit-content;
    visibility: hidden;
    align-items: center;
    min-width: 320px;
    min-height: 70px;
}

#changelogpanel,
#settingspanel {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    background: #303030;
    opacity: 0;
    border-radius: 5px;
    padding: 10px;
    gap: 5px;
    visibility: hidden;
    width: 300px;
}

#menupanel.active {
    visibility: visible;
    opacity: 1;
}

#settingspanel.active,
#changelogpanel.active {
    display: flex;
    opacity: 1;
    visibility: visible;
    width: 300px;
}

.fade-in {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeIn 2s forwards;
}

.container {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    background: #9898984f;
    padding: 5px;
    border-radius: 10px;
    max-width: 1110px;
    width: fit-content
}

.sidepanel {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: flex-start;
    background: #9898984f;
    padding: 5px;
    border-radius: 10px;
    max-width: 300px;
    height: 30px;
    width: fit-content;
    align-items: center;
}

.panelbutton {
    background: #303030;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    align-items: center;
    transition: all 0.2s ease-out;
}

.panelbutton:active {
    background: #404040;
    transform: scale(1.1);
}

.panelbutton:hover {
    background: #404040;
    transform: scale(1.1);
}

.window {
    background: #303030;
    padding: 30px;
    width: 300px;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.windownopadding {
    display: flex;
    flex-wrap: wrap;
    background: #303030;
    width: 360px;
    height: 229px;
    border-radius: 7px;
    padding: 5px;
    gap: 5px;
    overflow-y: auto;
    scrollbar-width: none;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    padding: 15px;
    gap: 20px;
    width: 250px;
    line-height: 10px;
    bottom: 0;
}

.settings_icon {
    width: 24px;
    height: 24px;
    -webkit-mask: url("icons/settings_icon.svg") no-repeat center/contain;
    mask: url("icons/settings_icon.svg") no-repeat center/contain;
    background-color: currentColor;
}

.changelog_icon {
    width: 24px;
    height: 24px;
    -webkit-mask: url("icons/changelog_icon.svg") no-repeat center/contain;
    mask: url("icons/changelog_icon.svg") no-repeat center/contain;
    background-color: currentColor;
}

body {
    color: #f5f5f5;
    background-color: #2b2b2b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    gap: 5px;
}

a.link {
    color: #1da1f2;  
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease-out;
}

a.link:hover {
    color: #81b9dc; 
    transform: scale(1.2);
}

p.plaintext {
    padding: 10px;
    text-decoration: none;
    color: #f5f5f5;
    transform: translateY(-15px)
}

p.description {
    transform: translateY(-60px);
}

div.button {
    display: flex;
    flex-wrap: wrap;
    width: 177.5px;
    height: 112px;
    border-radius: 5px;
    background: #80808035;
    transition: all 0.2s ease-out;
}

div.button:hover {
    background: #80808071;
    transform: scale(1.1);
}

img.button {
    stroke: #f5f5f5;
    transform:translateX(2.5px);
}

ul {
    font-weight: lighter;
}

glow-text {
    text-shadow: 0 0 5px #fff;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}